<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
      point = "org.eclipse.ui.newWizards">
 	<wizard
        category="net.bioclipse.data"
        class="net.bioclipse.data.wizards.NewDataProjectWizard"
        id="net.bioclipse.pharmbio.data.semweb.wizards.NewDataProjectWizard"
        name="Data for Introduction to Pharmaceutial Bioinformatics"
        project="true">
     <description>
        Install a Project with sample data set
     </description>
     <selection
           class="org.eclipse.core.resources.IResource">
     </selection>
  </wizard>
</extension>

  <extension
      point="net.bioclipse.data.install">
      <folder 
      	name="Molecular Descriptors Chapter"
      	description="Molecular Descriptors Chapter"
      	location="data"
      	wizard="net.bioclipse.pharmbio.data.moldesc.wizards.NewDataProjectWizard"/>
  </extension>


</plugin>
